// color
$color-white: #fff;
$color-white-2: #ffffff1a;
$color-black: #181818;
$color-purple: #b61984;
$color-purple-2: #aa017e;
$color-light-purple: #dcd1f0;
$color-gray: #3f161630;
$color-gray-2: #00000033;
$color-gray-3: #858585;
$color-gray-4: #0000001a;


// font-size
$fs-1: 15px;
$fs-2: 0.9em;
$fs-3: 1.25em;
$fs-4: 3.8rem;
$fs-5: 0.75rem;
$fs-6: 1.55rem;
$fs-7: 2.5rem;

// font-weight
$fw-1: 400;
$fw-2: 500;
$fw-3: 700;
$fw-4: 900;
$fw-5: 600;
$fw-6: 800;

// padding
$pd-1: 1.1em;
$pd-2: 2em;
$pd-3: 8em;
$pd-4: 18em;
$pd-5: 20px;
$pd-6: 40px;
$pd-7: 50px;
$pd-8: 10px;
$pd-9: 25px;
$pd-10: 77px;

// margin
$mg-1: auto;
$mg-2: 0.5em;
$mg-3: 4em;
$mg-3: 6px;
$mg-4: 150px;
$mg-5: 160px;
$mg-6: 185px;
$mg-7: 245px;
$mg-8: 50px;
$mg-9: 30px;

// border-radius
$radius-1: 30px;
$radius-2: 10px;