.tabulaCarousel{
    background-image: url(../images/Violet_top_left_wave.png);
    @include styleBackgroundImage(right, contain, 241px);
    background-repeat: no-repeat;
    margin-top: $mg-7;
    width: 100%;

    .row{
        margin-left: $mg-5; 
        position: absolute;
        top: 95px; 
        .text{
            p{
                font-family: 'Montserrat', sans-serif;
                text-transform: uppercase;
                @include styleText($color-purple, $fs-3 - 0.10em, $fw-5);
                margin-top: $mg-6;
                margin-bottom: 0;
            }
            h1{
                @include styleTitle($color-black, $fs-4 - 0.1rem, $fw-3);
            }
        }
        .image{
            bottom: 25px;
            right: 100px;
            img{
                height: 620px;
                width: 620px;
            }   
        }
    } 
}