.register{
    padding-top: $pd-4 - 8em;
    background-image: url(../images/accent_bottom_wave_01.png);
    
    @include styleBackgroundImage(bottom, contain, 710px);
    background-repeat: no-repeat;

    .register__content{
        margin-left: $mg-7;
        margin-right: $mg-4;

        .col-6{
            img{
                width: 526px;
                height: 526px;
            }
        }
        .register__item{
            box-shadow: 0 30px 30px -10px $color-gray-2;
            padding: $pd-8 $pd-9;
            width: 400px;
            background-color: $color-white;
            border-radius: $radius-2;

            h1{
                text-align: center;
                @include styleTitle ($color-black, $fs-7, $fw-3);
                margin-bottom: $mg-8;
            }
            form{
                .col-6{
                    &:last-of-type{
                        padding-left: 0;
                    }
                }
                .form-group{
                    position: relative;
                    .form__icon{
                        position: absolute;
                        left: 20px;
                        bottom: 10px;
                        z-index: 1;
                        color: $color-purple; 
                    }
                    .form-control{
                        padding-left: 45px;
                        height: 44px; 
                        border-radius: $radius-1;
                        @include styleText($color-gray-3, $fs-2, $fw-1);
                        
                    }
                    ::placeholder{
                        @include styleText($color-gray-3, $fs-2, $fw-1);
                    }
                    .register__textarea{
                        .form__icon{
                            @extend .form__icon;
                            left: 23px;
                            bottom: 55px;
                        }
                        .form-control{
                            @extend .form-control;
                            height: 90px;
                            padding-top: 10px;
                        }
                    }
                }
                .formSubmit{
                    margin-top: $mg-2 + 2em;
                    margin-bottom: $mg-8;
                    @include styleButton($pd-8 + 2px, $pd-7 - 2px, solid $color-purple, $radius-1, $color-purple);
                    background-image: linear-gradient($color-white, $color-white);
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: 0% 0%;
                    transition: background-size 0.2s, color 0.2s;
                    
                    @include styleText($color-white, $fs-1 - 2px, $fw-5);
                    font-family: 'Montserrat', sans-serif;
                    text-transform: uppercase;
                    
                    &:hover{
                        color: $color-purple;
                        background-size: 100% 100%;
                    }
                }
            }
        }
    }
}